// HORIZONTAL BREAK IN MAIN SECTION
hr{
  border: 0;
  border-top: .1rem solid $color-grey-light;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;

  // ADDING ICON TO THE MIDDLE
  &::after{
    content: "///";
    display: inline-block;
    color: $color-primary;
    position: relative;
    top: -.7rem;
    transform: skewX(-35deg);
    font-weight: 900;
    background: $color-white;

    @include respond(tab-land){
      top: -.9rem;
    }
  }
}
